@keyframes left_reverse0 {
  from {
    margin-left: 360px;
  }
  to {
    margin-left: 0px;
  }
}
@keyframes left1 {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: 360px;
  }
}
@keyframes left_reverse1 {
  from {
    margin-left: 720px;
  }
  to {
    margin-left: 360px;
  }
}

@keyframes left2 {
  from {
    margin-left: 360px;
  }
  to {
    margin-left: 720px;
  }
}
@keyframes left_reverse2 {
  from {
    margin-left: 1080px;
  }
  to {
    margin-left: 720px;
  }
}
@keyframes left3 {
  from {
    margin-left: 720px;
  }
  to {
    margin-left: 1080px;
  }
}
@keyframes left4 {
  from {
    margin-left: 1080px;
  }
  to {
    margin-left: 1440px;
  }
}
@keyframes left5 {
  from {
    margin-left: 1800px;
  }
  to {
    margin-left: 2160px;
  }
}
@keyframes left6 {
  from {
    margin-left: 2520px;
  }
  to {
    margin-left: 2880px;
  }
}
@keyframes right_reverse0 {
  from {
    margin-left: -430px;
  }
  to {
    margin-left: 0px;
  }
}
@keyframes right1 {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -430px;
  }
}
@keyframes right_reverse1 {
  from {
    margin-left: -820px;
  }
  to {
    margin-left: -430px;
  }
}
@keyframes right2 {
  from {
    margin-left: -430px;
  }
  to {
    margin-left: -860px;
  }
}
@keyframes right_reverse2 {
  from {
    margin-left: -1295px;
  }
  to {
    margin-left: -820px;
  }
}
@keyframes right3 {
  from {
    margin-left: -860px;
  }
  to {
    margin-left: -1295px;
  }
}
@keyframes right_reverse3 {
  from {
    margin-left: -1700px;
  }
  to {
    margin-left: -1295px;
  }
}
@keyframes right4 {
  from {
    margin-left: -1295px;
  }
  to {
    margin-left: -1700px;
  }
}
@keyframes right_reverse4 {
  from {
    margin-left: -1880px;
  }
  to {
    margin-left: -1520px;
  }
}
@keyframes right5 {
  from {
    margin-left: -1520px;
  }
  to {
    margin-left: -1880px;
  }
}
@keyframes right_reverse5 {
  from {
    margin-left: -2240px;
  }
  to {
    margin-left: -1880px;
  }
}
@keyframes right6 {
  from {
    margin-left: -1880px;
  }
  to {
    margin-left: -2240px;
  }
}
.card-div-default {
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-delay: 0s;
}
.card-div-left-reverse0 {
  animation-name: left_reverse0;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-delay: 0s;
}

.card-div-left1 {
  animation-name: left1;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-delay: 0s;
}
.card-div-left-reverse1 {
  animation-name: left_reverse1;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-delay: 0s;
}
.card-div-left2 {
  animation-name: left2;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-delay: 0s;
}
.card-div-left-reverse2 {
  animation-name: left_reverse2;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-delay: 0s;
}
.card-div-left3 {
  animation-name: left3;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-delay: 0s;
}
.card-div-left-reverse3 {
  animation-name: left_reverse3;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-delay: 0s;
}
.card-div-left4 {
  animation-name: left4;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-delay: 0s;
}
.card-div-left5 {
  animation-name: left5;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}
.card-div-left6 {
  animation-name: left6;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}
.card-div-right-reverse0 {
  animation-name: right_reverse0;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-delay: 0s;
}
.card-div-right1 {
  animation-name: right1;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-delay: 0s;
}
.card-div-right-reverse1 {
  animation-name: right_reverse1;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-delay: 0s;
}
.card-div-right2 {
  animation-name: right2;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-delay: 0s;
}
.card-div-right-reverse2 {
  animation-name: right_reverse2;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-delay: 0s;
}
.card-div-right3 {
  animation-name: right3;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}
.card-div-right-reverse3 {
  animation-name: right_reverse3;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-delay: 0s;
}
.card-div-right4 {
  animation-name: right4;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}
.card-div-right-reverse4 {
  animation-name: right_reverse4;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-delay: 0s;
}
.card-div-right5 {
  animation-name: right5;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}
.card-div-right-reverse5 {
  animation-name: right_reverse5;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-delay: 0s;
}